<div class="container">
  <!-- Lash Tools -->
  <div class="row pt-4">
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-chip-list #lashToolsChipList>
          <mat-chip
            *ngFor="let lashTool of lashTools"
            [selectable]="true"
            [removable]="true"
            (removed)="removeLashTool(lashTool)"
            color="accent"
          >
            {{ lashTool }}
            <mat-icon matChipRemove *ngIf="lashToolsChipEdit">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Thêm khuôn..."
            [matChipInputFor]="lashToolsChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addLashTool($event)"
            [disabled]="!lashToolsChipEdit"
          />
          <button
            mat-button
            *ngIf="!lashToolsChipEdit"
            (click)="lashToolsChipEdit = !lashToolsChipEdit"
            matSuffix
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>

  <!-- Hair Types -->
  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-chip-list #hairTypesChipList>
          <mat-chip
            *ngFor="let hairType of hairTypes"
            [selectable]="true"
            [removable]="true"
            (removed)="removeHairType(hairType)"
            color="accent"
          >
            {{ hairType }}
            <mat-icon matChipRemove *ngIf="hairTypesChipEdit">close</mat-icon>
          </mat-chip>
          <input
            placeholder="Thêm loại tóc..."
            [matChipInputFor]="hairTypesChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addHairType($event)"
            [disabled]="!hairTypesChipEdit"
          />
          <button
            mat-button
            *ngIf="!hairTypesChipEdit"
            matSuffix
            mat-icon-button
            (click)="hairTypesChipEdit = !hairTypesChipEdit"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>

  <!-- Add raw product-->
  <div class="row" *ngIf="rawProductAddEnable">
    <mat-form-field class="col-4">
      <mat-label>Khuôn</mat-label>
      <mat-select [formControl]="formControlLashTool" required>
        <mat-option *ngFor="let lashTool of lashTools" [value]="lashTool">
          {{ lashTool }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-3">
      <mat-label>Tóc</mat-label>
      <mat-select [formControl]="formControlHairType" required>
        <mat-option *ngFor="let hairType of hairTypes" [value]="hairType">
          {{ hairType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-3">
      <mat-label>Giá</mat-label>
      <input
        matInput
        type="number"
        [formControl]="formControlPrice"
        required
        onClick="this.select()"
      />
    </mat-form-field>
    <div class="col-2 text-right">
      <button mat-mini-fab color="accent" (click)="addRawProduct()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Raw Product Prices-->
  <div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="rawProductDataSource" class="w-100">
        <!-- Raw Product Name Column -->
        <ng-container matColumnDef="rawProduct">
          <th mat-header-cell *matHeaderCellDef>Thành phẩm</th>
          <td mat-cell *matCellDef="let rawProduct">{{ rawProduct.id }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Giá</th>
          <td mat-cell *matCellDef="let rawProduct">
            {{ rawProduct.price | currency: "VND":"":"1.0-3" }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-right">
            <button
              mat-mini-fab
              color="accent"
              *ngIf="!rawProductAddEnable"
              (click)="rawProductAddEnable = !rawProductAddEnable"
            >
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let rawProduct" class="text-right">
            &nbsp;<!-- <mat-icon (click)="rawProductAddEnable = true">edit</mat-icon> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="rawProductSisplayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: rawProductSisplayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
