<h1 mat-dialog-title color="primary">
  <mat-icon>face</mat-icon>&nbsp;{{ staffTransaction.name }}
</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-7">
      Tiền quỹ
      <span *ngIf="staffTransaction.credit < 0" style="color:red">(thiếu)</span
      >:
    </div>
    <div class="col-5 text-right">
      {{ 1000 | currency: "VND":"" }}&nbsp;ngàn
    </div>
  </div>
  <div class="row">
    <div class="col-7">Tiền hàng giao:</div>
    <div class="col-5 text-right">
      {{ staffTransaction.total | currency: "VND":"" }}&nbsp;ngàn
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <span *ngIf="staffTransaction.transactionCredit < 0" style="color:red"
        >Tiền chi:</span
      >
      <span *ngIf="staffTransaction.transactionCredit > 0" style="color:blue"
        >Tiền thu:</span
      >
      <span *ngIf="0 == staffTransaction.transactionCredit">Tiền thu:</span>
    </div>
    <div class="col-5 text-right">
      {{ staffTransaction.total | currency: "VND":"" }}&nbsp;ngàn
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="row">
    <div class="col text-right">
      <button
        mat-raised-button
        [mat-dialog-close]="staffTransaction"
        color="primary"
      >
        Xác nhận
      </button>
      <button mat-raised-button (click)="onNoClick()" color="warn">
        Hủy
      </button>
    </div>
  </div>
</div>
