<div class="container">
  <form [formGroup]="staffTransactionFormGroup" (ngSubmit)="onSubmit()">
    <!--Search Staff-->
    <!-- #region  -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field style="width:100%">
          <mat-label class="search-staff"
            ><mat-icon matSuffix>search</mat-icon>Tìm nhân viên</mat-label
          >
          <input
            type="text"
            matInput
            formControlName="searchStaff"
            [matAutocomplete]="auto"
            required
          />
          <mat-autocomplete
            (optionSelected)="onStaffSearchSelected($event.option.value)"
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="staffSearchDisplayFn"
          >
            <mat-option
              *ngFor="let staffOption of staffRefOptions | async"
              [value]="staffOption"
            >
              <div class="staff-search-result">
                <div class="phone">
                  <mat-icon>phone_iphone</mat-icon>{{ staffOption["phone"] }}
                </div>
                <div class="name">
                  <mat-icon>face</mat-icon>{{ staffOption["name"] }}
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="
              staffTransactionFormGroup.controls['searchStaff'].hasError(
                'required'
              )
            "
          >
            Nhập tên hoặc phone để tìm nhân viên
          </mat-error>
          <button
            mat-button
            *ngIf="staffTransactionFormGroup.controls['searchStaff'].value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              staffTransactionFormGroup.controls['searchStaff'].setValue('')
            "
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <!-- #endregion -->

    <!--Add Products actions-->
    <!-- #region  -->
    <div class="row" *ngIf="isTransactionActionsDisplay">
      <div class="col-4 pr-0">
        <mat-form-field class="w-100">
          <mat-label>Loại khuôn</mat-label>
          <mat-select formControlName="lashTool" required>
            <mat-option *ngFor="let lashTool of lashTools" [value]="lashTool">
              {{ lashTool }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 pr-0">
        <mat-form-field class="w-100">
          <mat-label>Tóc</mat-label>
          <mat-select formControlName="hairType" required>
            <mat-option *ngFor="let hairType of hairTypes" [value]="hairType">
              {{ hairType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 pr-0">
        <mat-form-field class="w-100">
          <mat-label>Số dây</mat-label>
          <input matInput formControlName="quantity" type="number" required />
          <button
            mat-button
            *ngIf="staffTransactionFormGroup.controls['quantity'].value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              staffTransactionFormGroup.controls['quantity'].setValue(null)
            "
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error
            *ngIf="
              staffTransactionFormGroup.controls['quantity'].hasError(
                'required'
              ) ||
              staffTransactionFormGroup.controls['quantity'].hasError('min')
            "
          >
            Phải lớn hơn 1
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-1 pr-0">
        <button
          type="button"
          mat-mini-fab
          [disabled]="
            staffTransactionFormGroup.controls['lashTool'].invalid ||
            staffTransactionFormGroup.controls['hairType'].invalid ||
            staffTransactionFormGroup.controls['quantity'].invalid
          "
          (click)="addTransaction()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <!-- #endregion -->

    <!--Added transactions table-->
    <!-- #region  -->
    <div class="row pb-2" *ngIf="transactions.length > 0">
      <div class="col-12">
        <div class="transaction-container">
          <table
            mat-table
            [dataSource]="dataSource"
            class="w-100"
            style="height:300px"
          >
            <!-- Delete Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let transaction"
                style="padding-left:0px"
              >
                <mat-icon (click)="onTransactionRemove(transaction)"
                  >delete</mat-icon
                >
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Item Name Column -->
            <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef>Tên</th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.itemName }}
              </td>
              <td mat-footer-cell *matFooterCellDef>
                {{ transactions.length }}&nbsp;món
              </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>S.L.</th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.quantity }}
              </td>
              <td mat-footer-cell *matFooterCellDef>
                {{ getQuantityTotal() }}
              </td>
            </ng-container>

            <!-- Price Per Item Column -->
            <ng-container matColumnDef="pricePerItem">
              <th mat-header-cell *matHeaderCellDef class="text-right">Giá</th>
              <td mat-cell *matCellDef="let transaction" class="text-right">
                {{
                  transaction.pricePerItem | currency: "VND":"":"1.0-3"
                }}&nbsp;ngàn
              </td>
              <td mat-footer-cell *matFooterCellDef class="text-right"></td>
            </ng-container>

            <!-- Sub Total Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef class="text-right">Tổng</th>
              <td mat-cell *matCellDef="let transaction" class="text-right">
                {{
                  transaction.pricePerItem * transaction.quantity
                    | currency: "VND":"":"1.0-3"
                }}&nbsp;ngàn
              </td>
              <td mat-footer-cell *matFooterCellDef class="text-right">
                {{ staffTransaction.total | currency: "VND":"" }}&nbsp;ngàn
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="displayedColumns; sticky: true"
              class="font-weight-bold"
            ></tr>
          </table>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <!--Form actions-->
    <!-- #region  -->
    <div class="row" *ngIf="transactions.length > 0">
      <div class="col-12 text-right">
        <button
          mat-raised-button
          color="primary"
          class="mr-2"
          type="button"
          (click)="openDialog()"
        >
          <mat-icon>save</mat-icon>Lưu
        </button>
        <button
          mat-raised-button
          color="warn"
          type="reset"
          (click)="onCancel()"
        >
          <mat-icon>cancel</mat-icon>Hủy
        </button>
      </div>
    </div>
    <!-- #endregion -->

    <!-- TESTing-->
    <button
      mat-raised-button
      color="primary"
      class="mr-2"
      type="button"
      (click)="openDialog()"
    >
      <mat-icon>save</mat-icon>Lưu
    </button>
  </form>
</div>
