<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="col-12 phone">
        <input
          matInput
          type="tel"
          [formControl]="formControlPhone"
          required
          [(ngModel)]="staff.phone"
        />
        <mat-label class="phone"
          ><mat-icon matSuffix>phone_iphone</mat-icon>Phone</mat-label
        >
        <mat-error *ngIf="formControlPhone.invalid"
          >Nhập một số bất kì nếu không có phone</mat-error
        >
        <button
          mat-button
          *ngIf="staff.phone"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="staff.phone = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="col-12 name">
            <input
              matInput
              type="text"
              [formControl]="formControlName"
              required
              [(ngModel)]="staff.name"
            />
            <mat-label class="name"
              ><mat-icon matSuffix>face</mat-icon>Tên</mat-label
            >
            <mat-error *ngIf="formControlName.invalid"
              >Tên nhân viên không thể trống.</mat-error
            >
            <button
              mat-button
              *ngIf="staff.name"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="staff.name = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="col-12 address">
            <input matInput type="text" [(ngModel)]="staff.address" />
            <mat-label class="name"
              ><mat-icon matSuffix>my_location</mat-icon>Địa chỉ</mat-label
            >
            <button
              mat-button
              *ngIf="staff.address"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="staff.address = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="col-12 credit">
            <input
              matInput
              placeholder="Tiền quỹ"
              type="number"
              [(ngModel)]="staff.credit"
              onClick="this.select()"
            />
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>ngàn</span>
            <button
              mat-button
              *ngIf="staff.credit"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="staff.credit = 0"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="col-12 credit">
            <mat-label>Khuôn Giao</mat-label>
            <mat-select [formControl]="formControlLashTool" multiple>
              <mat-option
                *ngFor="let lashTool of lashToolList"
                [value]="lashTool"
                >{{ lashTool }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <mat-form-field class="col-12 note">
        <textarea matInput placeholder="Ghi chú" rows="8"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button mat-raised-button color="primary" class="mr-2">Lưu</button>
      <button mat-raised-button color="warn" class="">Hủy</button>
    </div>
  </div>
</div>
