<div class="container">
  <form [formGroup]="formGroupStaff" (ngSubmit)="onSubmit()">
    <!--Phone Input-->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-12 phone">
          <input
            matInput
            id="phone"
            name="phone"
            type="tel"
            formControlName="phone"
            required
          />
          <mat-label class="phone"
            ><mat-icon matSuffix>phone_iphone</mat-icon>Phone</mat-label
          >
          <mat-error *ngIf="f.phone.invalid"
            >Nhập số bất kì nếu không có phone</mat-error
          >
          <button
            mat-button
            *ngIf="f.phone.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="f.phone.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Name Input -->
        <div class="row">
          <div class="col-12">
            <mat-form-field class="col-12 name">
              <input matInput type="text" formControlName="name" required />
              <mat-label class="name"
                ><mat-icon matSuffix>face</mat-icon>Tên</mat-label
              >
              <mat-error *ngIf="f.name.invalid"
                >Tên không được để trống</mat-error
              >
              <button
                mat-button
                *ngIf="f.name.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="f.name.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <!-- Address Input-->
        <div class="row">
          <div class="col-12">
            <mat-form-field class="col-12 address">
              <input matInput type="text" formControlName="address" />
              <mat-label class="name"
                ><mat-icon matSuffix>my_location</mat-icon>Địa chỉ</mat-label
              >
              <button
                mat-button
                *ngIf="f.address.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="f.address.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Credit Input-->
          <div class="col-6">
            <mat-form-field class="col-12 credit">
              <input
                matInput
                placeholder="Tiền quỹ"
                type="number"
                formControlName="credit"
                onClick="this.select()"
              />
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>&nbsp;ngàn</span>
              <button
                mat-button
                *ngIf="f.credit.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="f.credit.setValue(0)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- LashTool Input-->
          <div class="col-6">
            <mat-form-field class="col-12 lashTool">
              <mat-label>Khuôn giao</mat-label>
              <mat-select formControlName="lashTool" multiple>
                <mat-option
                  *ngFor="let lashTool of lashTools"
                  [value]="lashTool"
                  >{{ lashTool }}</mat-option
                >
              </mat-select>
              <button
                mat-button
                *ngIf="f.lashTool.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="f.lashTool.setValue(null)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!--Note Input-->
      <div class="col-md-6">
        <mat-form-field class="col-12 note">
          <textarea matInput rows="8" formControlName="note"></textarea>
          <mat-label class="name"
            ><mat-icon matSuffix>note</mat-icon>Ghi chú</mat-label
          >
          <button
            mat-button
            *ngIf="f.note.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="f.note.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <!--Form actions-->
    <div class="row">
      <div class="col-12 text-right">
        <button mat-raised-button color="primary" class="mr-2" type="submit">
          <mat-icon>save</mat-icon>
          Lưu
        </button>
        <button mat-raised-button color="warn" type="reset" (click)="onReset()">
          <mat-icon>cancel</mat-icon>
          Hủy
        </button>
      </div>
    </div>
  </form>
</div>
