<div class="container">
  <!-- #region Staff Search -->
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput [(ngModel)]="searchText" (keyup)="onSearchChange()" />
        <mat-label class="search-staff"
          ><mat-icon matSuffix>search</mat-icon>Tìm nhân viên</mat-label
        >
        <button
          mat-button
          *ngIf="searchText"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchText = ''; onSearchChange()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <!-- #endregion -->

  <div class="row">
    <div class="col-lg-4" *ngFor="let staff of searchedStaffs">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">
            <mat-icon>face</mat-icon>
            {{ staff.name }}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <div class="row">
              <div class="col-6">
                <mat-icon>phone_iphone</mat-icon>
                {{ staff.phone }}
              </div>
              <div class="col-6">
                {{ staff.credit | currency: "VND":"$ " }}&nbsp;ngàn
              </div>
            </div>
          </h6>
          <div class="row">
            <div class="col-12">
              <mat-icon>my_location</mat-icon> {{ staff.address }}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-chip-list>
                <mat-chip *ngFor="let lashTool of staff.lashTool">{{
                  lashTool
                }}</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="row" *ngIf="staff.note">
            <div class="col-12"><mat-icon>note</mat-icon>{{ staff.note }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col staff-action">
              <span class="staff-action-spacer"></span>
              <button mat-mini-fab routerLink="/edit-staff/{{ staff.id }}">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
