<div class="container">
  <form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-12 phone">
          <input matInput type="tel" formControlName="phone" required />
          <mat-label class="phone"
            ><mat-icon matSuffix>phone_iphone</mat-icon>Phone</mat-label
          >
          <mat-error *ngIf="staffForm.controls['phone'].invalid"
            >Nhập số bất kì nếu không có phone</mat-error
          >
          <button
            mat-button
            *ngIf="staffForm.controls['phone'].value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="staffForm.controls['phone'].setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="col-12 name">
              <input matInput type="text" formControlName="name" required />
              <mat-label class="name"
                ><mat-icon matSuffix>face</mat-icon>Tên</mat-label
              >
              <mat-error *ngIf="staffForm.controls['name'].invalid"
                >Tên không được để trống</mat-error
              >
              <button
                mat-button
                *ngIf="staffForm.controls['name'].value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="staffForm.controls['name'].setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="col-12 address">
              <input matInput type="text" formControlName="address" />
              <mat-label class="name"
                ><mat-icon matSuffix>my_location</mat-icon>Địa chỉ</mat-label
              >
              <button
                mat-button
                *ngIf="staffForm.controls['address'].value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="staffForm.controls['credit'].setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="col-12 credit">
              <input
                matInput
                placeholder="Tiền quỹ"
                type="number"
                formControlName="credit"
                onClick="this.select()"
              />
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>ngàn</span>
              <button
                mat-button
                *ngIf="staffForm.controls['credit'].value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="staffForm.controls['credit'].setValue(0)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="col-12 lashTool">
              <mat-label>Khuôn giao</mat-label>
              <mat-select formControlName="lashTool" multiple>
                <mat-option
                  *ngFor="let lashTool of lashToolService.lashToolList"
                  [value]="lashTool"
                  >{{ lashTool }}</mat-option
                >
              </mat-select>
              <button
                mat-button
                *ngIf="staffForm.controls['lashTool'].value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="staffForm.controls['lashTool'].setValue(null)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-12 note">
          <textarea
            matInput
            placeholder="Ghi chú"
            rows="8"
            formControlName="note"
          ></textarea>
          <button
            mat-button
            *ngIf="staffForm.controls['note'].value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="staffForm.controls['note'].setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button mat-raised-button color="primary" class="mr-2" type="submit">
          Lưu
        </button>
        <button mat-raised-button color="warn" (click)="onCancel()">Hủy</button>
      </div>
    </div>
  </form>
</div>
