<div class="row" *ngIf="!selectedStaff">
  <!-- Staff Search by Name or Phone-->
  <div class="col">
    <mat-form-field>
      <input matInput [formControl]="formControlSearchedText" />
      <mat-label class="search-staff"
        ><mat-icon matSuffix>search</mat-icon>Tìm Tên hoặc Phone</mat-label
      >
      <button
        mat-button
        *ngIf="formControlSearchedText.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formControlSearchedText.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<!-- Staffs Display-->
<div class="row" *ngIf="!selectedStaff">
  <div class="col-lg-4" *ngFor="let staff of filteredStaffs | async">
    <app-raw-display-staff
      [staff]="staff"
      (selectedStaff)="onSelectStaff($event)"
    ></app-raw-display-staff>
  </div>
</div>

<!-- Staff selected Display -->
<div class="row border-bottom pt-2 pb-2 mb-2" *ngIf="selectedStaff">
  <div class="col">
    <mat-icon>face</mat-icon>
    {{ selectedStaff.name }}
  </div>
  <div class="col-auto">
    <button
      mat-mini-fab
      (click)="clearSelectedStaff()"
      color="warn"
      type="reset"
    >
      <mat-icon appearance="outline">cancel</mat-icon>
    </button>
  </div>
</div>
